@import "tailwindcss";

:root {
  --sakura: #FFD9E8;
  --blossom: #FFB7CE;
  --bubblegum: #FF91AF;
  --cherry: #F06A8C;
  --crimson: #D94C6F;
}

@theme {
  --color-sakura: #FFD9E8;
  --color-blossom: #FFB7CE;
  --color-bubblegum: #FF91AF;
  --color-cherry: #F06A8C;
  --color-crimson: #D94C6F;
}